openapi: 3.0.0
info:
  title: tdlight Bot API
  description: OpenAPI schema for the tdlight bot api
  version: 5.0.0
servers:
  - url: 'https://botapi.giuseppem99.xyz/{type}{token}'
    variables:
      type:
        default: bot
        enum:
          - bot
          - user
      token:
        default: '123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11'
        description: Each bot is given a unique authentication token when it is created and each user is given a unique authentication token when logging in.
  - url: 'https://telegram.rest/{type}{token}'
    variables:
      type:
        default: bot
        enum:
          - bot
          - user
      token:
        default: '123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11'
        description: Each bot is given a unique authentication token when it is created and each user is given a unique authentication token when logging in.
  - url: '{base_url}/{type}{token}'
    variables:
      base_url:
        default: 'https://botapi.giuseppem99.xyz'
        description: Base url of the tdlight bot api server
      type:
        default: bot
        enum:
          - bot
          - user
      token:
        default: '123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11'
        description: Each bot is given a unique authentication token when it is created and each user is given a unique authentication token when logging in.
tags:
  - name: added
    description: Added Methods in the tdlight-bot-api
  - name: user-only
    description: These methods can only be called as user
  - name: modified
    description: These methods are modified in the tdlight-bot-api
paths:
  /userLogin:
    post:
      tags:
        - added
        - user-only
      description: |-
        *ONLY FOR USERS*

        Use this method to receive the authorization token to log in as user.

        Note: You don't have your token yet, so the domain is just {base_url}/userLogin

        Returns an `AuthorizationState` with the user token on success.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                phone_number:
                  description: Your phone number to log in.
                  type: string
              required:
                - phone_number
          multipart/form-data:
            schema:
              type: object
              properties:
                phone_number:
                  description: Your phone number to log in.
                  type: string
              required:
                - phone_number
          application/json:
            schema:
              type: object
              properties:
                phone_number:
                  description: Your phone number to log in.
                  type: string
              required:
                - phone_number
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    $ref: '#/components/schemas/AuthorizationState'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      servers:
        - url: '{base_url}'
          description: Custom Endpoint to get the user token.
          variables:
            base_url:
              default: 'https://botapi.giuseppem99.xyz'
              description: Base url of the tdlight bot api server
  /authCode:
    post:
      tags:
        - added
        - user-only
      description: |-
        *ONLY FOR USERS*

        Use this method in the authorization process to check your authentication code. Returns an `AuthorizationState` on success.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                code:
                  description: 'The verification code received via SMS, Telegram message, phone call, or flash call.'
                  type: integer
              required:
                - code
          multipart/form-data:
            schema:
              type: object
              properties:
                code:
                  description: 'The verification code received via SMS, Telegram message, phone call, or flash call.'
                  type: integer
              required:
                - code
          application/json:
            schema:
              type: object
              properties:
                code:
                  description: 'The verification code received via SMS, Telegram message, phone call, or flash call.'
                  type: integer
              required:
                - code
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    $ref: '#/components/schemas/AuthorizationState'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /authPassword:
    post:
      tags:
        - added
        - user-only
      description: |-
        *ONLY FOR USERS*

        Use this method in the authorization process to check your 2-factor-authorization password for correctness. Returns an `AuthorizationState` on success.

        *Never* send your password over a plain http connection. Make sure https is enabled or use this API locally.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                password:
                  description: The password to check.
                  type: string
              required:
                - password
          multipart/form-data:
            schema:
              type: object
              properties:
                password:
                  description: The password to check.
                  type: string
              required:
                - password
          application/json:
            schema:
              type: object
              properties:
                password:
                  description: The password to check.
                  type: string
              required:
                - password
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    $ref: '#/components/schemas/AuthorizationState'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /registerUser:
    post:
      tags:
        - added
        - user-only
      description: |-
        *ONLY FOR USERS*

        Use this method to register a new user account. Only works after sending the authcode if the user is not yet registered. Returns an `AuthorizationState` on success.

        User registration is disabled by default. You can enable it with the `--allow-users-registration` command line option or the env variable `TELEGRAM_ALLOW_USERS_REGISTRATION` set to `1` when using docker.s
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                first_name:
                  description: The first name of the user; 1-64 characters.
                  type: string
                last_name:
                  description: The last name of the user; 0-64 characters.
                  type: string
              required:
                - first_name
          multipart/form-data:
            schema:
              type: object
              properties:
                first_name:
                  description: The first name of the user; 1-64 characters.
                  type: string
                last_name:
                  description: The last name of the user; 0-64 characters.
                  type: string
              required:
                - first_name
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  description: The first name of the user; 1-64 characters.
                  type: string
                last_name:
                  description: The last name of the user; 0-64 characters.
                  type: string
              required:
                - first_name
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    $ref: '#/components/schemas/AuthorizationState'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /optimizeMemory:
    post:
      tags:
        - added
      description: Calling `optimizeMemory` will remove old data from the in-memory cache and give the freed memory back to the os. Returns *True* on success.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    default: true
                    type: boolean
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getMessageInfo:
    post:
      tags:
        - added
      description: Get information about a message. Returns a `Message` on success.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                message_id:
                  description: Message identifier in the chat specified in *from\_chat\_id*
                  type: integer
              required:
                - chat_id
                - message_id
          multipart/form-data:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                message_id:
                  description: Message identifier in the chat specified in *from\_chat\_id*
                  type: integer
              required:
                - chat_id
                - message_id
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                message_id:
                  description: Message identifier in the chat specified in *from\_chat\_id*
                  type: integer
              required:
                - chat_id
                - message_id
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    $ref: '#/components/schemas/Message'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getChatMembers:
    post:
      tags:
        - added
      description: |-
        Use this method to get a list of members in a chat. On success, returns an Array of [ChatMember](https://core.telegram.org/bots/api/#chatmember) objects that contains information about all chat members. Administrator privileges may be required for some filters.

        Telegram only returns up to 10,000 members per group using this method. If you want to get more members, you can try to fetch additional users with different `query` parameters
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target supergroup or channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                filter:
                  description: 'Filter the members you want to get. Must be one of `members`, `banned`, `restricted`, `bots` or `admins`. Only works in supergroups and channels. Administrator privileges may be required for some filters.'
                  type: string
                  enum:
                    - members
                    - banned
                    - restricted
                    - bots
                    - admins
                query:
                  description: Query to search for in names and usernames
                  type: string
                offset:
                  description: Number of users to skip.
                  type: integer
                limit:
                  description: The maximum number of users be returned; up to 200.
                  type: integer
                  minimum: 1
                  maximum: 200
              required:
                - chat_id
          multipart/form-data:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target supergroup or channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                filter:
                  description: 'Filter the members you want to get. Must be one of `members`, `banned`, `restricted`, `bots` or `admins`. Only works in supergroups and channels. Administrator privileges may be required for some filters.'
                  type: string
                  enum:
                    - members
                    - banned
                    - restricted
                    - bots
                    - admins
                query:
                  description: Query to search for in names and usernames
                  type: string
                offset:
                  description: Number of users to skip.
                  type: integer
                limit:
                  description: The maximum number of users be returned; up to 200.
                  type: integer
                  minimum: 1
                  maximum: 200
              required:
                - chat_id
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target supergroup or channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                filter:
                  description: 'Filter the members you want to get. Must be one of `members`, `banned`, `restricted`, `bots` or `admins`. Only works in supergroups and channels. Administrator privileges may be required for some filters.'
                  type: string
                  enum:
                    - members
                    - banned
                    - restricted
                    - bots
                    - admins
                query:
                  description: Query to search for in names and usernames
                  type: string
                offset:
                  description: Number of users to skip.
                  type: integer
                limit:
                  description: The maximum number of users be returned; up to 200.
                  type: integer
                  minimum: 1
                  maximum: 200
              required:
                - chat_id
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChatMember'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /deleteMessages:
    post:
      tags:
        - added
      description: |-
        Delete all the messages with message_id in range between start and end.
        The start parameter MUST be less than the end parameter
        Both start and end must be positive non zero numbers
        The method will always return true as a result, even if the messages cannot be deleted
        This method does not work on private chat or normal groups It is not suggested to delete more than 200 messages per call.

        *NOTE*
        The maximum number of messages to be deleted in a single batch is determined by the max-batch-operations parameter and is 10000 by default.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                start:
                  description: First message id to delete
                  type: integer
                end:
                  description: Last message id to delete
                  type: integer
              required:
                - chat_id
                - start
                - end
          multipart/form-data:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                start:
                  description: First message id to delete
                  type: integer
                end:
                  description: Last message id to delete
                  type: integer
              required:
                - chat_id
                - start
                - end
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                start:
                  description: First message id to delete
                  type: integer
                end:
                  description: Last message id to delete
                  type: integer
              required:
                - chat_id
                - start
                - end
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    default: true
                    type: boolean
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /ping:
    post:
      tags:
        - added
      description: Send an MTProto ping message to the telegram servers. Useful to detect the delay of the bot api server. Returns the time in seconds as double-precision floating-point number.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    type: number
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getChats:
    post:
      tags:
        - added
        - user-only
      description: |-
        *ONLY FOR USERS*

        Returns an ordered list of chats. For optimal performance the number of returned chats is chosen by the library.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                offset_chat_id:
                  description: Chat identifier to return chats from.
                  type: integer
          multipart/form-data:
            schema:
              type: object
              properties:
                offset_chat_id:
                  description: Chat identifier to return chats from.
                  type: integer
          application/json:
            schema:
              type: object
              properties:
                offset_chat_id:
                  description: Chat identifier to return chats from.
                  type: integer
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/Chat'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getCommonChats:
    post:
      tags:
        - added
        - user-only
      description: |-
        *ONLY FOR USERS*

        Returns list of chats you have in commen with the other user. Currently returns an Error because of a tdlight bug. For optimal performance the number of returned chats is chosen by the library.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_id:
                  description: Unique identifier of the target user
                  type: integer
                offset_chat_id:
                  description: Chat identifier to return chats from.
                  type: integer
              required:
                - user_id
          multipart/form-data:
            schema:
              type: object
              properties:
                user_id:
                  description: Unique identifier of the target user
                  type: integer
                offset_chat_id:
                  description: Chat identifier to return chats from.
                  type: integer
              required:
                - user_id
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  description: Unique identifier of the target user
                  type: integer
                offset_chat_id:
                  description: Chat identifier to return chats from.
                  type: integer
              required:
                - user_id
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/Chat'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getInactiveChats:
    post:
      tags:
        - added
        - user-only
      description: |-
        *ONLY FOR USERS*

        Returns a list of recently inactive supergroups and channels. Can be used when user reaches limit on the number of joined supergroups and channels and receives CHANNELS_TOO_MUCH error.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/Chat'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getNearbyChats:
    post:
      tags:
        - added
        - user-only
      description: |-
        *ONLY FOR USERS*

        Returns a list of chats nearby the specified location. Telegram may send old results if you change your location too quick.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                latitude:
                  description: Latitude of the location
                  type: number
                longitude:
                  description: Longitude of the location
                  type: number
                horizontal_accuracy:
                  description: 'The radius of uncertainty for the location, measured in meters; 0-1500'
                  type: number
              required:
                - latitude
                - longitude
          multipart/form-data:
            schema:
              type: object
              properties:
                latitude:
                  description: Latitude of the location
                  type: number
                longitude:
                  description: Longitude of the location
                  type: number
                horizontal_accuracy:
                  description: 'The radius of uncertainty for the location, measured in meters; 0-1500'
                  type: number
              required:
                - latitude
                - longitude
          application/json:
            schema:
              type: object
              properties:
                latitude:
                  description: Latitude of the location
                  type: number
                longitude:
                  description: Longitude of the location
                  type: number
                horizontal_accuracy:
                  description: 'The radius of uncertainty for the location, measured in meters; 0-1500'
                  type: number
              required:
                - latitude
                - longitude
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/Chat'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /searchPublicChats:
    post:
      tags:
        - added
        - user-only
      description: |-
        *ONLY FOR USERS*

        Searches public chats by looking for specified query in their username and title. Currently only private chats, supergroups and channels can be public. Returns a meaningful number of results. Returns nothing if the length of the searched username prefix is less than 5. Excludes private chats with contacts and chats from the chat list from the results.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                query:
                  description: Query to search for.
                  type: string
              required:
                - query
          multipart/form-data:
            schema:
              type: object
              properties:
                query:
                  description: Query to search for.
                  type: string
              required:
                - query
          application/json:
            schema:
              type: object
              properties:
                query:
                  description: Query to search for.
                  type: string
              required:
                - query
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/Chat'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /setPollAnswer:
    post:
      tags:
        - added
        - user-only
      description: |-
        *ONLY FOR USERS*
        
        Changes the user answer to a poll. A poll in quiz mode can be answered only once. Send an empty array of `option_ids` to retract your vote.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                message_id:
                  description: Identifier of the message containing the poll.
                  type: integer
                option_ids:
                  description: 0-based identifiers of answer options, chosen by the user. User can choose more than 1 answer option only is the poll allows multiple answers.
                  type: array
                  items:
                    anyOf:
                      - type: integer
              required:
                - chat_id
                - message_id
                - option_ids
          multipart/form-data:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                message_id:
                  description: Identifier of the message containing the poll.
                  type: integer
                option_ids:
                  description: 0-based identifiers of answer options, chosen by the user. User can choose more than 1 answer option only is the poll allows multiple answers.
                  type: array
                  items:
                    anyOf:
                      - type: integer
              required:
                - chat_id
                - message_id
                - option_ids
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                message_id:
                  description: Identifier of the message containing the poll.
                  type: integer
                option_ids:
                  description: 0-based identifiers of answer options, chosen by the user. User can choose more than 1 answer option only is the poll allows multiple answers.
                  type: array
                  items:
                    anyOf:
                      - type: integer
              required:
                - chat_id
                - message_id
                - option_ids
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    default: true
                    type: boolean
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /joinChat:
    post:
      tags:
        - added
        - user-only
      description:  |-
        *ONLY FOR USERS*
        
        Adds current user as a new member to a chat. Private and secret chats can't be joined using this method. Join either by chat_id or by invite_link
      
        Returns `True` on success.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                invite_link:
                  description: Invite link to import; should begin with "https://t.me/joinchat/", "https://telegram.me/joinchat/", or "https://telegram.dog/joinchat/".
                  type: string
          multipart/form-data:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                invite_link:
                  description: Invite link to import; should begin with "https://t.me/joinchat/", "https://telegram.me/joinchat/", or "https://telegram.dog/joinchat/".
                  type: string
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                invite_link:
                  description: Invite link to import; should begin with "https://t.me/joinchat/", "https://telegram.me/joinchat/", or "https://telegram.dog/joinchat/".
                  type: string
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    default: true
                    type: boolean
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /addChatMember:
    post:
      tags:
        - added
        - user-only
      description: |-
        *ONLY FOR USERS*
        
        Adds a new member to a chat. Members can't be added to private or secret chats.  Returns `true` on success.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target supergroup or channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                user_id:
                  description: Unique identifier of the target user
                  type: integer
              required:
                - chat_id
                - user_id
          multipart/form-data:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target supergroup or channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                user_id:
                  description: Unique identifier of the target user
                  type: integer
              required:
                - chat_id
                - user_id
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target supergroup or channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                user_id:
                  description: Unique identifier of the target user
                  type: integer
              required:
                - chat_id
                - user_id
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    default: true
                    type: boolean
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /reportChat:
    post:
      tags:
        - added
        - user-only
      description: |-
        *ONLY FOR USERS*
        
        Reports a chat to the Telegram moderators. A chat can be reported only from the chat action bar, or if this is a private chats with a bot, a private chat with a user sharing their location, a supergroup, or a channel, since other chats can't be checked by moderators.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target supergroup or channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                reason:
                  description: 'The reason for reporting the chat. Can be one of `child_abuse`, `copyright`, `pornography`, `spam`, `unrelated_location`, `violence` or any custom string to send a custom reason'
                  type: string
                message_ids:
                  description: Identifiers of reported messages.
                  type: array
                  items:
                    anyOf:
                      - type: integer
              required:
                - chat_id
                - reason
          multipart/form-data:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target supergroup or channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                reason:
                  description: 'The reason for reporting the chat. Can be one of `child_abuse`, `copyright`, `pornography`, `spam`, `unrelated_location`, `violence` or any custom string to send a custom reason'
                  type: string
                message_ids:
                  description: Identifiers of reported messages.
                  type: array
                  items:
                    anyOf:
                      - type: integer
              required:
                - chat_id
                - reason
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target supergroup or channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                reason:
                  description: 'The reason for reporting the chat. Can be one of `child_abuse`, `copyright`, `pornography`, `spam`, `unrelated_location`, `violence` or any custom string to send a custom reason'
                  type: string
                message_ids:
                  description: Identifiers of reported messages.
                  type: array
                  items:
                    anyOf:
                      - type: integer
              required:
                - chat_id
                - reason
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    default: true
                    type: boolean
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /createChat:
    post:
      tags:
        - added
        - user-only
      description:  |-
        *ONLY FOR USERS*
        
        Creates a new group, supergroup or channel. Returns the newly created chat.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  description: Title of the new chat; 1-128 characters.
                  type: string
                type:
                  description: Type of the new chat, must be any of `group`, `supergroup` or `channel`
                  type: string
                  enum: 
                    - group
                    - supergroup
                    - channel
                user_ids:
                  description: May only be set for chats of type `group` and is required then. Identifiers of users to be added to the basic group. May not be empty.
                  type: array
                  items:
                    anyOf:
                      - type: integer
                description:
                  description: Chat description; 0-255 characters. Only for types `supergroup` or `channel`.
                  type: string
              required:
                - title
                - type
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  description: Title of the new chat; 1-128 characters.
                  type: string
                type:
                  description: Type of the new chat, must be any of `group`, `supergroup` or `channel`
                  type: string
                  enum: 
                    - group
                    - supergroup
                    - channel
                user_ids:
                  description: Must only be set for chats of type `group` and is required then. Identifiers of users to be added to the basic group. May not be empty.
                  type: array
                  items:
                    anyOf:
                      - type: integer
                description:
                  description: Chat description; 0-255 characters. Only for types `supergroup` or `channel`.
                  type: string
              required:
                - title
                - type
          application/json:
            schema:
              type: object
              properties:
                title:
                  description: Title of the new chat; 1-128 characters.
                  type: string
                type:
                  description: Type of the new chat, must be any of `group`, `supergroup` or `channel`
                  type: string
                  enum: 
                    - group
                    - supergroup
                    - channel
                user_ids:
                  description: Must only be set for chats of type `group` and is required then. Identifiers of users to be added to the basic group. May not be empty.
                  type: array
                  items:
                    anyOf:
                      - type: integer
                description:
                  description: Chat description; 0-255 characters. Only for types `supergroup` or `channel`.
                  type: string
              required:
                - title
                - type
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    $ref: '#/components/schemas/Chat'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /searchMessages:
    post:
      tags:
        - added
        - user-only
      description: |-
        *ONLY FOR USERS*
        
        Searches for messages in all chats except secret chats. Returns the results in reverse chronological order (i.e., in order of decreasing (date, chat_id, message_id)). For optimal performance the number of returned messages is chosen by the library.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                query:
                  description: Query to search for.
                  type: string
                offset_date:
                  description: The date of the message starting from which the results should be fetched. Use 0 or any date in the future to get results from the last message.
                  type: integer
                offset_chat_id:
                  description: The chat identifier of the last found message, or 0 for the first request.
                  type: integer
                offset_message_id:
                  description: The chat identifier of the last found message, or 0 for the first request.
                  type: integer
                filter:
                  description: |-
                    Filter for message content in the search results. Must be one of `animation`, `audio`, `chat_photo`, `document`, `photo`, `photo_and_video`, `url`, `video`, `video_note`, `voice_and_video_note` or `voice_note`
                  type: string
                  enum:
                    - animation
                    - audio
                    - chat_photo
                    - document
                    - photo
                    - photo_and_video
                    - url
                    - video
                    - video_note
                    - voice_and_video_note
                    - voice_note
              required:
                - query
          multipart/form-data:
            schema:
              type: object
              properties:
                query:
                  description: Query to search for.
                  type: string
                offset_date:
                  description: The date of the message starting from which the results should be fetched. Use 0 or any date in the future to get results from the last message.
                  type: integer
                offset_chat_id:
                  description: The chat identifier of the last found message, or 0 for the first request.
                  type: integer
                offset_message_id:
                  description: The chat identifier of the last found message, or 0 for the first request.
                  type: integer
                filter:
                  description: |-
                    Filter for message content in the search results. Must be one of `animation`, `audio`, `chat_photo`, `document`, `photo`, `photo_and_video`, `url`, `video`, `video_note`, `voice_and_video_note` or `voice_note`
                  type: string
                  enum:
                    - animation
                    - audio
                    - chat_photo
                    - document
                    - photo
                    - photo_and_video
                    - url
                    - video
                    - video_note
                    - voice_and_video_note
                    - voice_note
              required:
                - query
          application/json:
            schema:
              type: object
              properties:
                query:
                  description: Query to search for.
                  type: string
                offset_date:
                  description: The date of the message starting from which the results should be fetched. Use 0 or any date in the future to get results from the last message.
                  type: integer
                offset_chat_id:
                  description: The chat identifier of the last found message, or 0 for the first request.
                  type: integer
                offset_message_id:
                  description: The chat identifier of the last found message, or 0 for the first request.
                  type: integer
                filter:
                  description: |-
                    Filter for message content in the search results. Must be one of `animation`, `audio`, `chat_photo`, `document`, `photo`, `photo_and_video`, `url`, `video`, `video_note`, `voice_and_video_note` or `voice_note`
                  type: string
                  enum:
                    - animation
                    - audio
                    - chat_photo
                    - document
                    - photo
                    - photo_and_video
                    - url
                    - video
                    - video_note
                    - voice_and_video_note
                    - voice_note
              required:
                - query
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /searchChatMessages:
    post:
      tags:
        - added
        - user-only
      description: |-
        *ONLY FOR USERS*
        
        Searches for messages with given words in the chat. Returns the results in reverse chronological order, i.e. in order of decreasing message_id. For optimal performance the number of returned messages is chosen by the library.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target supergroup or channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                query:
                  description: Query to search for.
                  type: string
                from_user_id:
                  description: If set, only messages sent by the specified sender will be returned
                  type: integer
                from_message_id:
                  description: Identifier of the message starting from which history must be fetched; use 0 to get results from the last message.
                  type: integer
                filter:
                  description: |-
                    Filter for message content in the search results. Must be one of `animation`, `audio`, `call`, `chat_photo`, `document`, `failed_to_send`, `mention`, `missed_call`, `photo`, `photo_and_video`, `pinned`, `unread_mention`, `url`, `video`, `video_note`, `voice_and_video_note` or `voice_note`
                  type: string
                  enum:
                    - animation
                    - audio
                    - call
                    - chat_photo
                    - document
                    - failed_to_send
                    - mention
                    - missed_call
                    - photo
                    - photo_and_video
                    - pinnedunread_mention
                    - url
                    - video
                    - video_note
                    - voice_and_video_note
                    - voice_note
              required:
                - chat_id
                - query
          multipart/form-data:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target supergroup or channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                query:
                  description: Query to search for.
                  type: string
                from_user_id:
                  description: If set, only messages sent by the specified sender will be returned
                  type: integer
                from_message_id:
                  description: Identifier of the message starting from which history must be fetched; use 0 to get results from the last message.
                  type: integer
                filter:
                  description: |-
                    Filter for message content in the search results. Must be one of `animation`, `audio`, `call`, `chat_photo`, `document`, `failed_to_send`, `mention`, `missed_call`, `photo`, `photo_and_video`, `pinned`, `unread_mention`, `url`, `video`, `video_note`, `voice_and_video_note` or `voice_note`
                  type: string
                  enum:
                    - animation
                    - audio
                    - call
                    - chat_photo
                    - document
                    - failed_to_send
                    - mention
                    - missed_call
                    - photo
                    - photo_and_video
                    - pinnedunread_mention
                    - url
                    - video
                    - video_note
                    - voice_and_video_note
                    - voice_note
              required:
                - chat_id
                - query
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target supergroup or channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                query:
                  description: Query to search for.
                  type: string
                from_user_id:
                  description: If set, only messages sent by the specified sender will be returned
                  type: integer
                from_message_id:
                  description: Identifier of the message starting from which history must be fetched; use 0 to get results from the last message.
                  type: integer
                filter:
                  description: |-
                    Filter for message content in the search results. Must be one of `animation`, `audio`, `call`, `chat_photo`, `document`, `failed_to_send`, `mention`, `missed_call`, `photo`, `photo_and_video`, `pinned`, `unread_mention`, `url`, `video`, `video_note`, `voice_and_video_note` or `voice_note`
                  type: string
                  enum:
                    - animation
                    - audio
                    - call
                    - chat_photo
                    - document
                    - failed_to_send
                    - mention
                    - missed_call
                    - photo
                    - photo_and_video
                    - pinnedunread_mention
                    - url
                    - video
                    - video_note
                    - voice_and_video_note
                    - voice_note
              required:
                - chat_id
                - query
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getCallbackQueryAnswer:
    post:
      tags:
        - added
        - user-only
      description: |-
        *ONLY FOR USERS*
        
        Sends a callback query to a bot and returns an answer. Returns an error with code 502 if the bot fails to answer the query before the query timeout expires.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                message_id:
                  description: Message identifier in the chat specified in *from\_chat\_id*
                  type: integer
                callback_data:
                  description: Data that was attached to the callback button.
                  type: string
              required:
                - chat_id
                - message_id
                - callback_data
          multipart/form-data:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                message_id:
                  description: Message identifier in the chat specified in *from\_chat\_id*
                  type: integer
                callback_data:
                  description: Data that was attached to the callback button.
                  type: string
              required:
                - chat_id
                - message_id
                - callback_data
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                message_id:
                  description: Message identifier in the chat specified in *from\_chat\_id*
                  type: integer
                callback_data:
                  description: Data that was attached to the callback button.
                  type: string
              required:
                - chat_id
                - message_id
                - callback_data
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    $ref: '#/components/schemas/CallbackQueryAnswer'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /deleteChatHistory:
    post:
      tags:
        - added
        - user-only
      description: |-
        *ONLY FOR USERS*
        
        Deletes all messages in the chat. 
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                for_everyone:
                  description: Pass true to try to delete chat history for all users.
                  type: boolean
                remove_from_chat_list:
                  description: Pass true if the chat should be removed from the chat list.
                  type: boolean
              required:
                - chat_id
          multipart/form-data:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                for_everyone:
                  description: Pass true to try to delete chat history for all users.
                  type: boolean
                remove_from_chat_list:
                  description: Pass true if the chat should be removed from the chat list.
                  type: boolean
              required:
                - chat_id
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                for_everyone:
                  description: Pass true to try to delete chat history for all users.
                  type: boolean
                remove_from_chat_list:
                  description: Pass true if the chat should be removed from the chat list.
                  type: boolean
              required:
                - chat_id
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    default: true
                    type: boolean
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getScheduledMessages:
    post:
      tags:
        - added
        - user-only
      description: |-
        *ONLY FOR USERS*
        
        Returns all scheduled messages in a chat. The messages are returned in a reverse chronological order. Returns an array of `Message` on success.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
              required:
                - chat_id
          multipart/form-data:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
              required:
                - chat_id
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
              required:
                - chat_id
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /editMessageScheduling:
    post:
      tags:
        - added
        - user-only
      description: |-
        *ONLY FOR USERS*
        
        Edits the time when a scheduled message will be sent. Scheduling state of all messages in the same album or forwarded together with the message will be also changed. Returns `true` on success.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                message_id:
                  description: Message identifier in the chat specified in *from\_chat\_id*. Message IDs for scheduled messages are negative.
                  type: integer
                send_at:
                  description: 'Must be either a unix timestamp not further than 365 days in the future or `online` as string to send when the other chat participant comes online. Leave empty to send the message instantly'
                  anyOf:
                    - type: integer
                    - type: string
              required:
                - chat_id
                - message_id
          multipart/form-data:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                message_id:
                  description: Message identifier in the chat specified in *from\_chat\_id*
                  type: integer
                send_at:
                  description: 'Must be either a unix timestamp not further than 365 days in the future or `online` as string to send when the other chat participant comes online. Leave empty to send the message instantly'
                  anyOf:
                    - type: integer
                    - type: string
              required:
                - chat_id
                - message_id
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                message_id:
                  description: Message identifier in the chat specified in *from\_chat\_id*
                  type: integer
                send_at:
                  description: 'Must be either a unix timestamp not further than 365 days in the future or `online` as string to send when the other chat participant comes online. Leave empty to send the message instantly'
                  anyOf:
                    - type: integer
                    - type: string
              required:
                - chat_id
                - message_id
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    $ref: '#/components/schemas/Message'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /getUpdates:
    post:
      description: 'Use this method to receive incoming updates using long polling ([wiki](https://en.wikipedia.org/wiki/Push_technology#Long_polling)). An Array of [Update](https://core.telegram.org/bots/api/#update) objects is returned.'
      externalDocs:
        url: 'https://core.telegram.org/bots/api/#getupdates'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                offset:
                  description: 'Identifier of the first update to be returned. Must be greater by one than the highest among the identifiers of previously received updates. By default, updates starting with the earliest unconfirmed update are returned. An update is considered confirmed as soon as [getUpdates](https://core.telegram.org/bots/api/#getupdates) is called with an *offset* higher than its *update\_id*. The negative offset can be specified to retrieve updates starting from *-offset* update from the end of the updates queue. All previous updates will forgotten.'
                  type: integer
                limit:
                  description: Limits the number of updates to be retrieved. Values between 1-100 are accepted. Defaults to 100.
                  default: 100
                  type: integer
                  minimum: 1
                  maximum: 100
                timeout:
                  description: 'Timeout in seconds for long polling. Defaults to 0, i.e. usual short polling. Should be positive, short polling should be used for testing purposes only.'
                  default: 0
                  type: integer
                allowed_updates:
                  description: |-
                    A JSON-serialized list of the update types you want your bot to receive. For example, specify [“message”, “edited\_channel\_post”, “callback\_query”] to only receive updates of these types. See [Update](https://core.telegram.org/bots/api/#update) for a complete list of available update types. Specify an empty list to receive all updates regardless of type (default). If not specified, the previous setting will be used.  

                    Please note that this parameter doesn't affect updates created before the call to the getUpdates, so unwanted updates may be received for a short period of time.
                  type: array
                  items:
                    type: string
          multipart/form-data:
            schema:
              type: object
              properties:
                offset:
                  description: 'Identifier of the first update to be returned. Must be greater by one than the highest among the identifiers of previously received updates. By default, updates starting with the earliest unconfirmed update are returned. An update is considered confirmed as soon as [getUpdates](https://core.telegram.org/bots/api/#getupdates) is called with an *offset* higher than its *update\_id*. The negative offset can be specified to retrieve updates starting from *-offset* update from the end of the updates queue. All previous updates will forgotten.'
                  type: integer
                limit:
                  description: Limits the number of updates to be retrieved. Values between 1-100 are accepted. Defaults to 100.
                  default: 100
                  type: integer
                  minimum: 1
                  maximum: 100
                timeout:
                  description: 'Timeout in seconds for long polling. Defaults to 0, i.e. usual short polling. Should be positive, short polling should be used for testing purposes only.'
                  default: 0
                  type: integer
                allowed_updates:
                  description: |-
                    A JSON-serialized list of the update types you want your bot to receive. For example, specify [“message”, “edited\_channel\_post”, “callback\_query”] to only receive updates of these types. See [Update](https://core.telegram.org/bots/api/#update) for a complete list of available update types. Specify an empty list to receive all updates regardless of type (default). If not specified, the previous setting will be used.  

                    Please note that this parameter doesn't affect updates created before the call to the getUpdates, so unwanted updates may be received for a short period of time.
                  type: array
                  items:
                    type: string
          application/json:
            schema:
              type: object
              properties:
                offset:
                  description: 'Identifier of the first update to be returned. Must be greater by one than the highest among the identifiers of previously received updates. By default, updates starting with the earliest unconfirmed update are returned. An update is considered confirmed as soon as [getUpdates](https://core.telegram.org/bots/api/#getupdates) is called with an *offset* higher than its *update\_id*. The negative offset can be specified to retrieve updates starting from *-offset* update from the end of the updates queue. All previous updates will forgotten.'
                  type: integer
                limit:
                  description: Limits the number of updates to be retrieved. Values between 1-100 are accepted. Defaults to 100.
                  default: 100
                  type: integer
                  minimum: 1
                  maximum: 100
                timeout:
                  description: 'Timeout in seconds for long polling. Defaults to 0, i.e. usual short polling. Should be positive, short polling should be used for testing purposes only.'
                  default: 0
                  type: integer
                allowed_updates:
                  description: |-
                    A JSON-serialized list of the update types you want your bot to receive. For example, specify [“message”, “edited\_channel\_post”, “callback\_query”] to only receive updates of these types. See [Update](https://core.telegram.org/bots/api/#update) for a complete list of available update types. Specify an empty list to receive all updates regardless of type (default). If not specified, the previous setting will be used.  

                    Please note that this parameter doesn't affect updates created before the call to the getUpdates, so unwanted updates may be received for a short period of time.
                  type: array
                  items:
                    type: string
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/Update'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /setWebhook:
    post:
      description: |-
        Use this method to specify a url and receive incoming updates via an outgoing webhook. Whenever there is an update for the bot, we will send an HTTPS POST request to the specified url, containing a JSON-serialized [Update](https://core.telegram.org/bots/api/#update). In case of an unsuccessful request, we will give up after a reasonable amount of attempts. Returns *True* on success.

        If you'd like to make sure that the Webhook request comes from Telegram, we recommend using a secret path in the URL, e.g. `https://www.example.com/<token>`. Since nobody else knows your bot's token, you can be pretty sure it's us.
      externalDocs:
        url: 'https://core.telegram.org/bots/api/#setwebhook'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                url:
                  description: HTTPS url to send updates to. Use an empty string to remove webhook integration
                  type: string
                certificate:
                  $ref: '#/components/schemas/InputFile'
                ip_address:
                  description: The fixed IP address which will be used to send webhook requests instead of the IP address resolved through DNS
                  type: string
                max_connections:
                  description: 'Maximum allowed number of simultaneous HTTPS connections to the webhook for update delivery, 1-100. Defaults to *40*. Use lower values to limit the load on your bot''s server, and higher values to increase your bot''s throughput.'
                  default: 40
                  type: integer
                allowed_updates:
                  description: |-
                    A JSON-serialized list of the update types you want your bot to receive. For example, specify [“message”, “edited\_channel\_post”, “callback\_query”] to only receive updates of these types. See [Update](https://core.telegram.org/bots/api/#update) for a complete list of available update types. Specify an empty list to receive all updates regardless of type (default). If not specified, the previous setting will be used.  
                    Please note that this parameter doesn't affect updates created before the call to the setWebhook, so unwanted updates may be received for a short period of time.
                  type: array
                  items:
                    type: string
                drop_pending_updates:
                  description: Pass *True* to drop all pending updates
                  type: boolean
              required:
                - url
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    default: true
                    type: boolean
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /deleteWebhook:
    post:
      description: 'Use this method to remove webhook integration if you decide to switch back to [getUpdates](https://core.telegram.org/bots/api/#getupdates). Returns *True* on success.'
      externalDocs:
        url: 'https://core.telegram.org/bots/api/#deletewebhook'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                drop_pending_updates:
                  description: Pass *True* to drop all pending updates
                  type: boolean
          multipart/form-data:
            schema:
              type: object
              properties:
                drop_pending_updates:
                  description: Pass *True* to drop all pending updates
                  type: boolean
          application/json:
            schema:
              type: object
              properties:
                drop_pending_updates:
                  description: Pass *True* to drop all pending updates
                  type: boolean
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    default: true
                    type: boolean
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getWebhookInfo:
    post:
      description: 'Use this method to get current webhook status. Requires no parameters. On success, returns a [WebhookInfo](https://core.telegram.org/bots/api/#webhookinfo) object. If the bot is using [getUpdates](https://core.telegram.org/bots/api/#getupdates), will return an object with the *url* field empty.'
      externalDocs:
        url: 'https://core.telegram.org/bots/api/#getwebhookinfo'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    $ref: '#/components/schemas/WebhookInfo'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /getMe:
    post:
      description: 'A simple method for testing your bot''s auth token. Requires no parameters. Returns basic information about the bot in form of a [User](https://core.telegram.org/bots/api/#user) object.'
      externalDocs:
        url: 'https://core.telegram.org/bots/api/#getme'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    $ref: '#/components/schemas/User'
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /logOut:
    post:
      description: 'Use this method to log out from the cloud Bot API server before launching the bot locally. You **must** log out the bot before running it locally, otherwise there is no guarantee that the bot will receive updates. After a successful call, you can immediately log in on a local server, but will not be able to log in back to the cloud Bot API server for 10 minutes. Returns *True* on success. Requires no parameters.'
      externalDocs:
        url: 'https://core.telegram.org/bots/api/#logout'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    default: true
                    type: boolean
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /close:
    post:
      description: Use this method to close the bot instance before moving it from one local server to another. You need to delete the webhook before calling this method to ensure that the bot isn't launched again after server restart. The method will return error 429 in the first 10 minutes after the bot is launched. Returns *True* on success. Requires no parameters.
      externalDocs:
        url: 'https://core.telegram.org/bots/api/#close'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    default: true
                    type: boolean
                  result:
                    default: true
                    type: boolean
                required:
                  - ok
                  - result
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sendMessage:
    post:
      tags:
        - modified
      description: 'Use this method to send text messages. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.'
      externalDocs:
        url: 'https://core.telegram.org/bots/api/#sendmessage'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                text:
                  description: 'Text of the message to be sent, 1-4096 characters after entities parsing'
                  type: string
                parse_mode:
                  description: 'Mode for parsing entities in the message text. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details.'
                  type: string
                entities:
                  description: 'List of special entities that appear in message text, which can be specified instead of *parse\_mode*'
                  type: array
                  items:
                    $ref: '#/components/schemas/MessageEntity'
                disable_web_page_preview:
                  description: Disables link previews for links in this message
                  type: boolean
                disable_notification:
                  description: 'Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.'
                  type: boolean
                reply_to_message_id:
                  description: 'If the message is a reply, ID of the original message'
                  type: integer
                allow_sending_without_reply:
                  description: 'Pass *True*, if the message should be sent even if the specified replied-to message is not found'
                  type: boolean
                reply_markup:
                  description: 'Additional interface options. A JSON-serialized object for an [inline keyboard](https://core.telegram.org/bots#inline-keyboards-and-on-the-fly-updating), [custom reply keyboard](https://core.telegram.org/bots#keyboards), instructions to remove reply keyboard or to force a reply from the user.'
                  anyOf:
                    - $ref: '#/components/schemas/InlineKeyboardMarkup'
                    - $ref: '#/components/schemas/ReplyKeyboardMarkup'
                    - $ref: '#/components/schemas/ReplyKeyboardRemove'
                    - $ref: '#/components/schemas/ForceReply'
                send_at:
                  description: 'Users only. Send the message as a scheduled message. Scheduled Messages have a negative `message_id`. Must be either a unix timestamp not further than 365 days in the future or `online` as string to send when the other chat participant comes online. Leave empty to send the message instantly'
                  anyOf:
                    - type: integer
                    - type: string
              required:
                - chat_id
                - text
          multipart/form-data:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                text:
                  description: 'Text of the message to be sent, 1-4096 characters after entities parsing'
                  type: string
                parse_mode:
                  description: 'Mode for parsing entities in the message text. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details.'
                  type: string
                entities:
                  description: 'List of special entities that appear in message text, which can be specified instead of *parse\_mode*'
                  type: array
                  items:
                    $ref: '#/components/schemas/MessageEntity'
                disable_web_page_preview:
                  description: Disables link previews for links in this message
                  type: boolean
                disable_notification:
                  description: 'Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.'
                  type: boolean
                reply_to_message_id:
                  description: 'If the message is a reply, ID of the original message'
                  type: integer
                allow_sending_without_reply:
                  description: 'Pass *True*, if the message should be sent even if the specified replied-to message is not found'
                  type: boolean
                reply_markup:
                  description: 'Additional interface options. A JSON-serialized object for an [inline keyboard](https://core.telegram.org/bots#inline-keyboards-and-on-the-fly-updating), [custom reply keyboard](https://core.telegram.org/bots#keyboards), instructions to remove reply keyboard or to force a reply from the user.'
                  anyOf:
                    - $ref: '#/components/schemas/InlineKeyboardMarkup'
                    - $ref: '#/components/schemas/ReplyKeyboardMarkup'
                    - $ref: '#/components/schemas/ReplyKeyboardRemove'
                    - $ref: '#/components/schemas/ForceReply'
                send_at:
                  description: 'Users only. Send the message as a scheduled message. Scheduled Messages have a negative `message_id`. Must be either a unix timestamp not further than 365 days in the future or `online` as string to send when the other chat participant comes online. Leave empty to send the message instantly'
                  anyOf:
                    - type: integer
                    - type: string
              required:
                - chat_id
                - text
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  description: Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)
                  anyOf:
                    - type: integer
                    - type: string
                text:
                  description: 'Text of the message to be sent, 1-4096 characters after entities parsing'
                  type: string
                parse_mode:
                  description: 'Mode for parsing entities in the message text. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details.'
                  type: string
                entities:
                  description: 'List of special entities that appear in message text, which can be specified instead of *parse\_mode*'
                  type: array
                  items:
                    $ref: '#/components/schemas/MessageEntity'
                disable_web_page_preview:
                  description: Disables link previews for links in this message
                  type: boolean
                disable_notification:
                  description: 'Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound.'
                  type: boolean
                reply_to_message_id:
                  description: 'If the message is a reply, ID of the original message'
                  type: integer
                allow_sending_without_reply:
                  description: 'Pass *True*, if the message should be sent even if the specified replied-to message is not found'
                  type: boolean
                reply_markup:
                  description: 'Additional interface options. A JSON-serialized object for an [inline keyboard](https://core.telegram.org/bots#inline-keyboards-and-on-the-fly-updating), [custom reply keyboard](https://core.telegram.org/bots#keyboards), instructions to remove reply keyboard or to force a reply from the user.'
                  anyOf:
                    - $ref: '#/components/schemas/InlineKeyboardMarkup'
                    - $ref: '#/components/schemas/ReplyKeyboardMarkup'
                    - $ref: '#/components/schemas/ReplyKeyboardRemove'
                    - $ref: '#/components/schemas/ForceReply'
                send_at:
[...]
